<div class="card">
  <h3 class="card-header">Edit Post</h3>
  <form class="card-body edit-post">
    <label for="post-title" class="label">Title</label>
    <input
      name="title"
      type="text"
      value="{{post.title}}"
      class="input"
    />
    <label class="label" for="content">Content</label>
    <input
      name="content"
      type="text"
      value="{{post.content}}"
      class="input"
    />
    <button type="submit" class="button">Update Post</button>
    <button type="button" class="button">Delete</button>
  </form>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>