<div class="row">
  <div class="col-md-6">
    <h2>SignUp</h2>

    <form id="signup-form" class="card-body">
      <label for="name-signup">Username:</label> <br>
      <input id="username-signup" class="form-input" type="text" /><br>
      <label for="password-signup">Password:</label><br>
      <input id="password-signup" class="form-input" type="password" /><br>
      <button class="btn" type="submit">SIGNUP</button>
      <a href="/login" class="btn"> Login Instead </a>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>