* {
  box-sizing: border-box;
  background-color: rgb(211, 206, 206)
}

body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #160a09;
  font-size: 24px;
}

main {
  margin: 20px auto;
  width: 94%;
}

/* .wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
} */

p {
  font-size: 1.2rem;
}

.btn {
  margin: 0.5%;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 40%;
  display: block;
  color: rgb(241, 235, 235);
  background-color:#160a09;
 
}

.hero {
  padding: 5%;
  background-color: #160a09;
}

.app-title {
  font-size: 2.5rem;
  background-color: rgb(143, 141, 45);
  color: #160a09;
  padding: 5px;
  display: inline-block;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  background-color:  rgb(175, 62, 62);
  color: #160a09;
}

.list-item:hover {
  background-color: #160a09;
}

h4 {
  font-weight: bold;
  line-height: 1.25;
}

.link {
  color: #160a09;
  padding-right: 20px;
}

.form-input {
  width: 40%;
  padding: 10px;
  margin: 5px;
  border: 2px solid black
}