* {
  box-sizing: border-box;
  background-color: #ccb9b9;
}

.blog-header {
  padding: 5%;
  background-color: #3a1111;
}
.app-title {
  font-size: 2.5rem;
  background-color: #9b7b14;
  color: #160a09;
  padding: 5px;
  display: inline-block;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #160a09;
  font-size: 24px;
}

main {
  margin: 20px auto;
  width: 94%;
}

p {
  font-size: 1.2rem;
}

.button {
  margin: 0.5%;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 40%;
  display: block;
  color: white;
  background-color: #3a1111;;
 
}

.comment-input{
  width: 40%;
  padding-bottom: 25px;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  color: #160a09;
}

h4 {
  font-weight: bold;
  line-height: 1.25;
}

h6 {
  font-weight: bold;
  line-height: 1;
  text-align: end;
}

.link {
  color: #160a09;
  padding-right: 20px;
}

.form-input {
  width: 40%;
  padding: 10px;
  margin: 5px;
  border: 2px solid black
}